[submodule "smart-contract-programmer/lib/forge-std"]
	path = smart-contract-programmer/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cyfrin-updraft/foundry-fundamentals/start/lib/forge-std"]
	path = cyfrin-updraft/foundry-fundamentals/start/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cyfrin-updraft/foundry-fundamentals/fund-me/lib/forge-std"]
	path = cyfrin-updraft/foundry-fundamentals/fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cyfrin-updraft/foundry-fundamentals/fund-me/lib/chainlink-brownie-contracts"]
	path = cyfrin-updraft/foundry-fundamentals/fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "cyfrin-updraft/foundry-fundamentals/fund-me/lib/foundry-devops"]
	path = cyfrin-updraft/foundry-fundamentals/fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "cyfrin-updraft/foundry-fundamentals/lottery/lib/forge-std"]
	path = cyfrin-updraft/foundry-fundamentals/lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cyfrin-updraft/foundry-fundamentals/lottery/lib/chainlink-brownie-contracts"]
	path = cyfrin-updraft/foundry-fundamentals/lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "cyfrin-updraft/foundry-fundamentals/lottery/lib/solmate"]
	path = cyfrin-updraft/foundry-fundamentals/lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "cyfrin-updraft/foundry-fundamentals/lottery/lib/foundry-devops"]
	path = cyfrin-updraft/foundry-fundamentals/lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "cyfrin-updraft/advanced-foundry/erc20/lib/forge-std"]
	path = cyfrin-updraft/advanced-foundry/erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cyfrin-updraft/advanced-foundry/erc20/lib/openzeppelin-contracts"]
	path = cyfrin-updraft/advanced-foundry/erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "cyfrin-updraft/advanced-foundry/nft/lib/forge-std"]
	path = cyfrin-updraft/advanced-foundry/nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cyfrin-updraft/advanced-foundry/nft/lib/openzeppelin-contracts"]
	path = cyfrin-updraft/advanced-foundry/nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "cyfrin-updraft/advanced-foundry/nft/lib/foundry-devops"]
	path = cyfrin-updraft/advanced-foundry/nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
